@import url('./simple-lightbox.css');

ol,
ul {
  list-style-type: none;
  padding: 0;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  width: calc(360px * 3 + 48px);
  margin: 24px auto;
}

.gallery-image {
  transition: transform 100ms ease-in-out;
  cursor: pointer;
}

.gallery-image:focus,
.gallery-image:hover {
  transform: scale(1.042);
}

.sl-caption {
  transition: opasity 250ms ease-in-out;
}

.modal-opened-caption {
  opacity: 1;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  margin: 100px auto;
  gap: 8px;
  border: 1px solid tomato;
  position: relative;
}

textarea {
  resize: none;
  display: block;
}

form label input {
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: border-color 200ms ease-in-out;
}

form label input:hover,
form label textarea:hover {
  border-color: #000000;
}

form label textarea {
  width: 360px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: border-color 200ms ease-in-out;
  display: block;
}

form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  margin-top: 8px;
  transition: background-color 200ms ease-in-out;
  display: block;
}

form button:hover,
form button:focus {
  background-color: #6c8cff;
}

.msg-box {
  position: absolute;
  color: red;
  padding: 2px 4px;
  left: calc(50% - (283px / 2));
  bottom: -12px;
  border-radius: 5px;
  font-size: 14px;
  background-color: lightgray;
  transition: opacity 250ms ease-in-out;
  opacity: 1;
}

.visually-hidden {
  opacity: 0;
  pointer-events: none;
}
